<div id="carousel-example-1z" class="carousel slide carousel-fade z-depth-1-half" data-ride="carousel">
    <!--Indicators-->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-1z" data-slide-to="1"></li>
      <li data-target="#carousel-example-1z" data-slide-to="2"></li>
      <li data-target="#carousel-example-1z" data-slide-to="3"></li>
      <li data-target="#carousel-example-1z" data-slide-to="4"></li>
    </ol>
    <!--/.Indicators-->
    <!--Slides-->
    <div class="carousel-inner" role="listbox">
      <!--First slide-->
      <div class="carousel-item active">
        <picture>
          <source srcset="assets/slider/1.webp" type="image/webp">
          <img class="d-block w-100" src="assets/slider/1.png" alt="Soccer court">
        </picture>
      </div>
      <!--/First slide-->
      <!--Second slide-->
      <div class="carousel-item">
        <picture>
          <source srcset="assets/slider/2.webp" type="image/webp">
          <img class="d-block w-100" src="assets/slider/2.png" alt="Soccer court">
        </picture>
      </div>
      <!--/Second slide-->
      <!--Third slide-->
      <div class="carousel-item">
        <picture>
          <source srcset="assets/slider/3.webp" type="image/webp">
          <img class="d-block w-100" src="assets/slider/3.png" alt="Soccer court">
        </picture>
      </div>
      <!--/Third slide-->
      <!--Fourth slide-->
      <div class="carousel-item">
        <picture>
          <source srcset="assets/slider/4.webp" type="image/webp">
          <img class="d-block w-100" src="assets/slider/4.png" alt="Soccer court">
        </picture>
      </div>
      <!--/Fourth slide-->
      <!--Fifth slide-->
      <div class="carousel-item">
        <picture>
          <source srcset="assets/slider/5.webp" type="image/webp">
          <img class="d-block w-100" src="assets/slider/5.png" alt="Soccer court">
        </picture>
      </div>
      <!--/Fifth slide-->
    </div>
    <!--/.Slides-->
    <!--Controls-->
    <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    <!--/.Controls-->
  </div>