<h1>Rules of Game</h1>

<h5 class="mt-4 mb-4">ITA Soccer League Rules</h5>
<h5>Open Division</h5>
<p>Games are two 20 min halves with 5 minute half time.</p>

<p class="h5"><b>Team point:</b></p>
<p>Win: 3 point<br>
    Tie: 1 point<br>
    Losses: 0 points<br>
    Sorted on points > goal difference > goals scored > head to head</p>

<p class="h5"><b>Players:</b></p>
<p>6 vs 6 (Field Size 40 x 30)<br>
    The minimum number of players is 4 players<br>
    Only players that are on the roster can play<br>
    If a player is participating but not on the team roster, the team with the illegal player will be forced to forfeit. Player verification must be protested before
    the start of the second half by a rostered member of a current team playing against the team in question.</p>
<h5>NO PLAYERS CAN BE ADDED TO THE ROSTER AFTER 2<p style="display: inline; text-transform: lowercase;">nd</p> WEEK</h5>

<p class="h5"><b>Substitutions:</b></p>
<p>Substitutions may occur on the fly, including goalkeeper substitutions.<br>
    All Substitutions must occur within 1 yard of the bench area of the team making the substitution.</p>

<p class="h5"><b>Player Equipment:</b></p>
<p>Compulsory equipment consists of shirt, shorts, shin guards and socks. Jewelry man not be worn.</p>

<p class="h5"><b>Ball in and Out of Play:</b></p>
<p>The ball is out of play when the whole ball passes over the perimeter lines, when it hits the ceiling, when a goal is scored or when the referee stops play.<br>
    The ball is in play at all other times, when it hits the goal posts and/or corner flags but except when it rebounds from the referee.</p>

<p class="h5"><b>Out of Bounds:</b></p>
<p>Players have 5 seconds to restart play once the ball has been placed on the ground.<br>
    If the ball sits for more than 5 seconds the ball will be given to the other team for delay of game.</p>

<p class="h5"><b>Touch Line (Kick-in):</b></p>
<p>A Kick-in is awarded to the opponents of the player who last touched the ball when the whole ball crosses the touch line, either on the ground or in the air. 
    A goal can be scored directly from corner but it cannot be scored from out (if the ball goes out on the side).</p>

<p class="h5"><b>Ceiling:</b></p>
<p>A direct free-kick is awarded against the team that hits a ball that makes contact with the ceiling. 
    This free kick takes place based on where the ball hit the ceiling. 
    If the ball was cleared from the defending team’s penalty area or the ball hit the ceiling over the penalty area the restart will be taken at the top of the restraining arc.</p>

<p class="h5"><b>Goal kick:</b></p>
<p>When the ball crosses over the goal line between corner markings after being touched by a member of the offensive team, 
    play shall be restarted with a goalie distribution on the ground. A goal may not be scored directly from a goal kick.</p>

<p class="h5"><b>Cards and Disciplinary Sanctions:</b></p>
<p>– There is no penalty time for a team if a player receives a yellow card<br>
   – Two yellow cards are a red card (Team will play one player short for two minutes or until receives a goal against. Misses next game)<br>
   – A red card means the player must exit the game (Team will play one player short for two minutes or until receives a goal against. Misses next game. In case of a fight out for the tournament)</p>

<h5 class="mt-4 mb-4">NO SLIDING UNLESS SAVING THE BALL FROM GOAL</h5>

<p class="h5"><b>Goal Keeper:</b></p>
<p>A goalkeeper may not hold the ball in their hands for more than 5 seconds during game play.<br>
    They may not handle a ball that was intentionally passed back by a teammate or release the ball and regain control using their hands before a teammate touches it.<br><br>
    
    This will result in a direct kick taken by the other team at the top of the arc outside the box.<br>
    No Punting, No Drop Quick will be allowed.<br>
    Keepers must release the ball using their hands (can hold the ball for up to 5 seconds), or place the ball on the ground at their feet.<br><br>
    
    If a keeper punts the ball, the referee may issue them a warning for their first offense and re-set the play.<br>
    If the keeper punts the ball a second time after receiving a warning, the opposing team will be awarded a direct kick taken from the top of the penalty arc.<br><br>
    
    Goalkeepers are allowed a clean slide tackle to save a ball in the penalty box.<br>
    If a keeper slides into another player or slides outside of the box, a direct kick will be awarded to the other team to be taken at the top of the penalty arc.
    </p>