<h1>Clubs</h1>

<div class="parent">
    <div *ngFor='let club of clubs'>
        <div id="id" class=" mx-2 mt-3 p-2 text-center">
            <picture style="width: 120px; height: 110px;">
                <source srcset="assets/clubImages/{{club['imageUrl']}}.webp" type="image/webp">
                <img src="assets/clubImages/{{club['imageUrl']}}.png" width="120px" height="110px" alt="club image" />
            </picture>
            <p *ngIf="club['short']; else noShort" class="mt-1 mb-0">{{club['short']}}</p>
            <ng-template #noShort>
                <div class="mt-1 mb-0">&nbsp;</div>
            </ng-template>
        </div>
    </div>
</div>