<h1>Location</h1>
<h1 class="mt-4"><b style="color: #52becb;">Compass Arena</b></h1>
<app-slider></app-slider>
<div style="height: 50vh;" class="mt-4">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11907.244026738499!2d-87.9383632!3d41.7461692!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e4f6e5178827d%3A0x3ee4d8344b75d79!2sFair%20Play%20at%20Compass%20Arena!5e0!3m2!1sen!2srs!4v1692152981440!5m2!1sen!2srs" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
